<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ömer Apaydın | ByRoot Blog</title>

    <link rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
</head>

<body>
    <header class="navbar">
        <a href="index.html" class="nav-logo">
            Ömer Apaydın<span class="slash"> / </span><small>ByRoot</small>
        </a>

        <nav>
            <a href="#about">Hakkımda</a>
            <a href="#fields">Alanlar</a>
            <a href="#projects">Projeler</a>
            <a href="#blog">Blog</a>
            <a href="#contact">İletişim</a>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>© 2026 ByRoot. Tüm hakları saklıdır.</p>
    </footer>

</body>

</html>