@model List<User>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Users</h5>
    </div>
    <div class="card-body">
      <ul class="list-inline d-flex flex-wrap gap-2">
        @foreach(var user in Model) {
        <li class="list-inline-item">
          <a href="" class="btn btn-outline-secondary btn-sm">@user.UserName</a>
        </li>
        }
      </ul>
    </div>
  </div></User
>
